@use './variables' as *;

@mixin textStyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin query($width) {
  @if ($width == tablet) {
    @media screen and (max-width: 770px) {
      @content;
    }
  } @else if($width == mobile) {
    @media screen and (max-width: 430px) {
      @content;
    }
  }
}

@mixin bodyStyle {
  background-color: $secondaryColor;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem 0;
}

@mixin boxStyle {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
