@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

$poppins: 'Poppins', sans-serif;

// colors
$primaryColor: #654fef;
$secondaryColor: #fff;
$textColor: rgb(27, 27, 27);
$bgColor: #edf2f7;

// spacing
$section__padding: 0.8rem 3rem;
$section__margin: 2rem 3rem;
